/* Root variables */

:root{
    
      /* colors */
      --primary-color: #da7531;
      --primary-color2: #f4841b; 
      --secondary-color: #FE9E67;
      --secondary-light: #fad6a9;
      --darkest-color: #da6931;
     
      --extra-grey: #C6BEB8;
      --shade-one: #0005; 
      --shade-two: #5550;
      --shade-three: #101010;
      --shade-four: #333333;
      --article-bkgd-color: #C2C2C2;
      --font-stack: Roboto, sans-serif;
  
  
  
          /* box shadow preset*/
          --white-box-shadow: 0 0 .5rem #ffffff;
          --white-box-shadow-hover: 0 0 1rem #ffffff;
          --black-box-shadow: 0 0 0.5rem #0002;
  
  
          /* Heights */
          --banner-base-height: 50vh;
          --banner-large-height: 100vh;
      
      
          /* Verticle align */
          --banner-vertical-align: center;
      
      
          /* Horizontal align */
          --banner-hor-align: flex-start;
        
      
          /* Text align */
          --text-align: left;
  
          /* small photo */
          --small-img-size: 35vh;
  
          /* font scales major third*/
          --scale-xl: 2.441rem;
          --scale-large: 1.953rem;
          --scale-med: 1.563rem;
          --scale-small: 1.235rem;


          /* Absolute scales*/

          --s1: 0%;
          --s2: 100%;
          --s3: 200%;
          --s4: 300%;
          --b1: 400%;

          /* PC headings use --lg
          mobile headings use --sm */
          /* extra font sizes */
          --mobile-para: 0.5rem;
          --xsm: 0.7rem;
          --sm: 0.9rem;
          --md: 1.1rem;
          --lg: 1.5rem;
          --xlg: 1.9rem;
          --xxlg: 2.2rem;


          /* mobile btns  use --sm font for mobile btns/--lg for PC btns*/
          /* btn padding */
          --mobile-btn: 0.5rem 2.5rem; 
          --pc-btn: 1rem 4rem;

          /* container top padding */
          --mobile-pd-top-cont: 4rem;
          --pc-pd-top-cont: 13rem;
         
}



/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html {
  line-height: 1.5;
  font-family: var(--font-stack)
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  margin: 0;
}

/* Update default margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin: 0 0 1.5rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  color: #36BF7F;
}

a:hover,
a:focus-visible {
  color: white;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------- Containers ---------- */

.container {
  width: min(65em, 100%);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--text {
  width: min(45em, 100%);
}

#main{
   height: 100vh;
   scroll-behavior: smooth;
   scroll-snap-type: y mandatory;
   overflow-y: scroll;
   overflow-x: hidden;
   position: relative;
  
}

section{
   
  scroll-snap-align: start;
  height: 100vh;
  
}

/* ---------- Modifier Classes ---------- */

.flex-center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-center-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-align-self-center{
  display: flex;
  justify-content: center;
  align-self: center;
}

/* ---------- Animations ---------- */

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
  0% {
      opacity: 0;
  }
}


@keyframes HeadFadeIn {
  0% {
      
      opacity: 0;
      transform: translateX(-10rem);

  }
  100% {
      
      opacity: 1;
      transform: translateX(0rem);
  }
}

@keyframes textFadeDown {
  0% {
      
      opacity: 0;
      transform: translateY(-10rem);

  }
  100% {
      
      opacity: 1;
      transform: translateY(0rem);
  }

}

/* ----- fix these pixel units  */
@keyframes navLinkFade{
  from {
    opacity: 0 ;
    transform: translateX(50px); 
  }
  to {
    opacity: 1;
    transform: translateX(0px);
   }
  }

  @keyframes searchFade{
    from {
      opacity: 0 ;
      transform: translateY(-50px); 
    }
    to {
      opacity: 1;
      transform: translateY(0px);
     }
    }



/* ---------- Toggle Classes ---------- */

.store-content .hidden {
  display: none;
}

.store-content .visible {
  display: grid;
}

.home-footer.hidden {
  display: none;
}

.home-footer .visible {
  display: block;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}


  /* <----- Skip Links -------------------------------> */

.skip-links{
    padding: 0;
    margin:0;
    list-style: none;
  
  }
  
  .skip-links__link {
      position: absolute;
      top: -10rem;
      left: 0.5em;
      display: inline-block;
      padding: 0.55em 1.5em 0.5em;
      background-color: var(--color-secondary);
      color: white;
      border-radius: 0.25em;
      text-decoration: none;
      z-index: 10000000;
  } 
  
  .skip-links__link:focus {
     top: 1rem;
     color: white;
  }
  
  /* to top */
  
  .to-top {
    position: fixed;
    bottom: -0.5rem;
    right: 1.5rem;
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 0.5rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    text-decoration: none;
    box-shadow: var(--black-box-shadow);
    z-index: 1001;
  
  }
  
  .to-top.visible {
     translate: 0;
  }
  
  .to-top:is(:hover, :focus-visible) {
    translate: 0;
    bottom: 0;
    color: white;
  }

/* <----- BUTTONS -------------------------------> */
  
  
      .btn{
        display: flex;
        border-radius: 0.2rem;
        margin: 0.2rem;
        text-decoration: none;
        border: none;
        box-shadow: var(--white-box-shadow);
        color: white;
        
      }
    
      .btn--secondary{
        display: flex;
        border-radius: 0.2rem;
        margin: 0.2rem;
        text-decoration: none;
        border: none;
        box-shadow: var(--white-box-shadow);
        color: white;
    }
    
    /* selected btn hovers */

    .products__btn:hover,
    .products__btn:focus,
    .support__btn:hover,
    .support__btn:focus,
    .sneaker-card-cart__btn:hover,
    .sneaker-card-cart__btn:focus,
    .sneaker-card-buy__btn:hover,
    .sneaker-card-buy__btn:focus,
    .banner__btn:hover,
    .banner__btn:focus{
      transition: ease-in-out 0.3s !important;
      transform: scale(1.03) !important;
      filter: drop-shadow(0 0.25rem 0.5rem #000000);
      cursor: pointer;
    }

    .forward-arrow{
      
   }
 
   .back-arrow{
    
   }

   .forward-arrow:hover,
   .forward-arrow:focus,
   .back-arrow:hover,
   .back-arrow:focus{
      transform: scale(1.02);
      transition: ease-in-out 0.3s;
      filter: drop-shadow(0 0.25rem 0.5rem #000000);
      cursor: pointer;
   }

/* <----------------------- SEARCH BAR -------------------------------> */

   /* ACTIVE CLASS */

   .searchBar-active{
    animation: searchFade 0.3s ease-in-out forwards;
  }

  .search-bar{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 1000000;
 
    transform: translateY(-100%); 
    transition: transform 0.5s ease-in;
    background-color: black;
    color: white;
    opacity: 0.95;
    padding: 1rem;
  }

  .search-bar__logos{
     padding-bottom: 1rem;
  }


  .search-bar__img{
    width: 3rem;
    padding-right: 0.5rem;
  }


  .search-bar__img2{
    width: 7rem;
  }

  .search-bar .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
  }

  .search-bar-exit__btn {
     margin: 0;
     color: var(--primary-color);
  }

  .search-bar-exit__btn:hover,
  .search-bar-exit__btn:focus{
      cursor: pointer;
  }


  .search-input{
     width: 50%;
     margin-left: 1rem;
     /* margin-bottom: 1rem; */
     color: black;
  }


@media only screen and (min-width: 45em){
    
    .search-bar{
      height: 8%;
     }

    .search-bar .container{
      flex-direction: row;
      justify-content: center;
     }

    .search-bar__logos{
      padding-bottom: 0rem;
     }

    .search-bar-exit__btn {
      margin-right: 4rem; 
      
     }

}

/* <----------------------- Page Location Bar -------------------------------> */

  .page-location{
    position: fixed;
    left: 5%;
    top: 30%;
    z-index: 1000;
    
  }

  .page-location__cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .page-location__links{
     color: gray;
     margin-bottom: 3rem;
  }

  .page-location__links:hover,
  .page-location__links:focus{
    color: white;
 }

  .page-location__cont ul{

  }


.active-page-location__icon{
  filter: drop-shadow(var(--white-box-shadow));
  color: white;
}

@media only screen and (min-width: 45em){
  
  .page-location{
    left: 5%;
    top: 40%;
  }
  
  .page-location__cont{
        
  }
  
  .page-location__links{
  
  }
  
  .page-location__cont ul{
    
  }  
    
}

/* <----------------------- NAVBAR -------------------------------> */


/* mobile first*/

.navbar{
    flex-direction: column;
    background: rgba(0, 0, 0, 0.97);
    overflow: hidden;
    position: fixed;
    z-index: 1000; 
    width: 100%;
    padding: 1rem;
    height: 100%;
    transform: translateX(100%); 
    
    /* box-shadow: var(--white-box-shadow); */
    /* ----- hide the main banner when you open the mini mobile navbar so you can keep the background semi transparent */
  }


   /* ACTIVE CLASS */

  .navbar-active{
    animation: navLinkFade 0.3s ease-in-out forwards;
  }



  .nav-mobile-menu{
    display: block;
    position: absolute;
    top:3%;
    left: 7%;
    z-index: 100000;
    
  }

  .nav-mobile-menu:hover,
  .nav-mobile-menu:focus{
     cursor: pointer;
     transform: scale(1.02);
  }

  #burger-icon{
    font-size: var(--xxlg);
    color: white;
  }
  
  
   .navbar .container{
    padding: 0;
    gap: 1.5rem; 
   
  }
  
  
  
  .nav-list{
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0
  }


   /* nav li hover animation----------------------------- */

  .nav-list li {
    position: relative;
  }

  .link{
   color: white;
  }

  .nav-list-extras li {
    position: relative;
  }
  

  .nav-list li::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 0.17rem;
    border-radius: 0.125rem;
    transition: background-color 0.3s ease; 
    top: 50%;
    left: 25%;
  }
  
  
  
  .nav-list li:hover::after {
    /* background-image: url("../content/li_arrow2.png") if you want to use a hover image; 
    background-size: cover; 
    background-position: center; */
    background-color: #fff;
  }
  
    /* nav li hover animation ----------------------------- */
  

  .logo-head{
    margin: 1.5rem;
  }
  
  
  /* things that dont have to be changed with query */
  
  .nav-list li{
    list-style:  none;
    color: white;
    padding: 0 1rem;
    transition: background-color 0.3s; 
   
  }
  
  .nav-list li .link {
    text-decoration: none;
    display: block;
    padding: 1.5rem;
    cursor: pointer; 
    font-size: var(--sm);
  }

  .nav-list-secondary li .link{
    text-decoration: none;
    display: block;
    padding: 0.7rem;
    cursor: pointer; 
   
  }
  

  .nav-list li:hover,
  .nav-list li:focus,
  .nav-logo:hover,
  .nav-logo:focus{
    transform: scale(1.1);
    transition: transform 0.3s;
     
  }
  
  
  .logo-head-div{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 0rem;
  }
  
  .link:hover,
  .link:focus{
    color: white;
  }
  
  
  
  .nav-logo{
     width: 3em;
     
  }
  
  /* Web Media Queries */   


  @media only screen and (min-width: 45em){
    .navbar{
        height: auto;
        background: none;
        display: flex;
        flex-direction: row;
        /* border-top: 0.5rem solid var(--primary-color2); */
        transform: translateX(0);
    }

    .nav-mobile-menu{
      display: none;
    }
    
    .navbar .container{
      display: flex;
      justify-content: space-between;
      padding: 0 1.5rem;
      
      align-items: center;  

    }

    .nav-list li .link {
      font-size: var(--md);
    }
    
    .link{
      text-decoration: none;
      color: white; 
     
    }
    
    .nav-logo {
        display: flex;
        flex-direction: row;
        margin-right: 1.5rem;
    }

    
    .nav-list {
        display: flex;
        flex-direction: row;
        margin: 0 ;  
    }

   

    .nav-list li::after {
        top: 75%;
        left: 26%;
        width: 50%;
      }

   
    
  }

/* <----- Main Video Container -------------------------------> */


.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* <----- Main BKGD Image Container -------------------------------> */

  .image-container{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* banner bkgd img */
  .img-s1{
    top: var(--s1);

 }

  
 /* about bkgd img */
  .img-s2{
     top: var(--s2);
  }

/* products bkgd img */

  .img-s3{
    top: var(--s3)
  }

  /* support bkgd img */

  .img-s4{
    top: var(--s4)
  }


   /* <------------------------------------------------------------> */
/* <----------------------------- Home Page -------------------------------> */
  /* <------------------------------------------------------------> */


/* <----- BANNER -------------------------------> */

.banner {
    background: linear-gradient(to bottom, var(--shade-three), var(--shade-one) ) ;
    background-size: cover; 
    background-position: bottom;
    position: relative;
  }


  
  .banner .container{
    
    min-height: var(--banner-base-height);
    display: flex;
    justify-content: var(--banner-hor-align);
    align-items: var(--banner-vertical-align);
    text-align: var(--text-align);
    padding-top: var(--mobile-pd-top-cont);
    
  }
  
  .banner__content{
    width: min(35em, 100%);
    /* background-color: transparent; 
    backdrop-filter: blur(1rem);
    box-shadow: var(--white-box-shadow); 
    border-radius: 3rem;     this is code for blurred transparent div*/ 
    
    padding: 4rem;
   
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .banner__header{
    color: var(--primary-color2);
    font-size: var(--md);
    animation: HeadFadeIn 0.8s ease-in-out forwards;  /* needs javascript to toggle the animation class */
    padding-top: 2rem;
  }


  .banner__img {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards ;
    width: 5rem;
  
    }

    .banner__content .btn {
      animation: HeadFadeIn 1.2s ease-in-out forwards; /* needs javascript to toggle the animation class */
      padding: var(--mobile-btn);
      font-size: var(--sm);
    }
  
  .banner__para{
    color:white;
    animation: HeadFadeIn 1s ease-in-out forwards;  /* needs javascript to toggle the animation class */
    font-size: var(--sm);
    font-style: italic;
    line-height: 1.5rem;
  }
  
  .banner--top{
    --banner-vertical-align: flex-start;
  } 
  
  .banner--bottom{
    --banner-vertical-align: flex-end;
  }
  
  .banner--center{ 
    --banner-vertical-align: center;
    --banner-hor-align: center;
    --text-align: center;
  } 
  
  .banner--large{
    min-height: var(--banner-large-height);
  } 
  
  .banner--right{
    --banner-hor-align: flex-end;
    --text-align: right;
    
  }


  /* banner media queries */
  
  @media only screen and (min-width: 45em){
    .banner .container{
      padding-top: var(--pc-pd-top-cont);
      padding-bottom: 3rem;
    }

    .banner__content{
      margin: 0rem;
    }

    .banner__header{
      font-size: var(--xlg);
    }

    .banner__para{
      font-size: var(--md);
      line-height: 2rem;
    }

    .banner__content .btn {
      padding: var(--pc-btn); 
      color: white;
      font-size: var(--xlg);
      background-color: transparent;
    }

    .banner__img{
      width: 10rem;
    }

    
  }

  /* <----- About -------------------------------> */
  
  .about-content{
    background: linear-gradient(to bottom, var(--shade-three), var(--shade-one)); 
    width: 100%;
    height: 100vh;
  }

  .about-content .container {
    padding-top: var(--mobile-pd-top-cont);
    
  }

  .about-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about__img{
    animation: textFadeDown 1s ease-in ;  /* needs javascript to toggle the animation class */
    width: 7rem;
    padding-bottom: 1rem;
  }

  .about__bkgd{
    /* filter: blur(0.4rem); */
  }

  .about__h2{
    animation: textFadeDown 1s ease-in ; /* needs javascript to toggle the animation class */
    color: white;
    padding-top: 1rem;
    padding-bottom: 0;
    margin: 0.2rem;
    font-size: var(--sm);
  }

  .about__para{
    animation: textFadeDown 0.8s ease-in ; /* needs javascript to toggle the animation class */
    color: white;
    line-height: 1.1rem;
    font-size: var(--mobile-para);
    text-align: center;
    margin: 0;
  }

  /* about media queries */

/* ipad */
  @media only screen and (min-width: 45em){

    .about-content .container {
      padding-top: var(--pc-pd-top-cont);
      
    }
    
     .about__para{
      font-size: var(--sm);
      line-height: 1.5rem;
     }
     .about__h2{
      padding-bottom: 3rem;
      font-size: var(--lg);
     }

     .about__img{
      width: 15rem;
      padding-bottom: 3rem;
     }
  }

  /* web */
  @media only screen and (min-width: 60em){

    .about__para{
      line-height: 2.3rem;
     }
     .about__h2{
       
     }

     .about__img{
      width: 20rem;
     }
    
}


  /* <----- Products -------------------------------> */

  .products-content{
    background: linear-gradient(to bottom, var(--shade-three), var(--shade-one)); 
    width: 100%; 
    height: 100vh;
  }

  .products-content .container{
    height: 85%;

  }
  

  .products__h2{
    color: white;
    font-size: var(--lg);
    filter: drop-shadow(0 0.25rem 0.5rem #000000);
  }

   .products__btn{
      padding: var(--mobile-btn);
      font-size: var(--sm);
      color: white;
      background: linear-gradient(to left, var(--primary-color2), var(--primary-color));
      box-shadow: var(--black-box-shadow);

  }

  .products-btn__innerText{
    
  }

  .products-content .container button i{
    font-size: var(--xlg);
    margin-left: 0.5rem;
  }

  /* Products media queries */

  /* ipad */
  @media only screen and (min-width: 45em){
      .products__btn{
        padding: var(--pc-btn);
        font-size: var(--lg);
      }

      .products__h2{
        color: white;
        font-size: var(--xxlg);
      }
  }



  /* web */
  @media only screen and (min-width: 60em){


    
  }


  /* <----- Support -------------------------------> */

  .support-content{
    background: linear-gradient(to bottom, var(--shade-three), var(--shade-one)); 
    width: 100%;
    height: 100vh;
  }

  .support-content .container{
    display: grid;
    padding-top: var(--mobile-pd-top-cont);
    height: 80%;
  }

  .support-case-gd2{
   
  }

  .support-case{
    text-align: center;
    color: white;
    margin: 0.1rem;
  }

  .support-case p{
    font-size: var(--mobile-para);
  }

  .support__h1{
     color: white;
     font-size: var(--sm);
     padding: 0;
     margin: 0;
  }

  .support__btn{
    padding: var(--mobile-btn);
    font-size: var(--sm);
    background: linear-gradient(to left, var(--primary-color2), var(--primary-color));
    box-shadow: var(--black-box-shadow);
  }


  @media only screen and (min-width: 45em){
    .support-content .container{
      padding-top: var(--pc-pd-top-cont);
    }

    .support__btn{
      padding: var(--pc-btn);
      font-size: var(--lg);
    }

    .support__h1{
       font-size: var(--lg);
    }

    .support-case p{
      font-size: var(--sm);
    }

    .support-case{
      margin: 0.4rem;
    }

    .support-case-gd2{
        padding: 0;
        margin: 0;
    }


  } 

  /* <----- Home-FOOTER -------------------------------> */

.footer{
  /* background: linear-gradient(to top, var(--shade-four), var(--shade-one)); */
  /* border-bottom: 0.5rem solid var(--darkest-color); */
   /* z-index: 1000; */

  display: none;
  background-color: transparent;
  color: white;
  width: 100%;
 
  position: fixed;
  bottom: 0;
  z-index: 1000;
}


.footer .container{
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  gap: 1.5rem;    

}

.footer__logo{
  display: flex;
  gap: 0.75rem;
  align-items: center;
  color: white;
  text-decoration: none;

}

.span__title{
    text-transform: uppercase;
} 

.footer__logo:hover,
.footer__logo:focus{
  
  transform: scale(1.1);
  transition: transform 0.3s;
}



.footer__icon{
  width: 3em;
}

.footer__nav{
  border-top: none;
}

.footer__title{
  font-size: 1.525rem;
  font-weight: bold;
  line-height: 1.3;
}

.footer__list{
  padding-left: 1.5rem;
  margin: 0;
  border-left: 0.125rem solid var(--secondary-color);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

}

.footer__link{
  color: white;
  text-decoration: none;

}

.footer__link:hover,
.footer__link:focus{
  color: var(--secondary-color);
}

.footer-small-links{
  display: flex;
  flex-direction: column;
  
}

.footer__copyright{
  padding-bottom: 1rem;
}

.footer__copyright2{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.small-media-logo {
    padding: 0.5rem;
    width: 3rem;
}

.small-media-logo:hover,
.small-media-logo:focus{
  
  transform: scale(1.1);
  transition: transform 0.3s;
}

/* alt bkgd for contact page */

.alt-fade-bkgd {
    background: linear-gradient(to bottom, var(--shade-three), var(--shade-one) )
}


/* footer media queries */


@media only screen and (min-width: 45em){

    .footer{
      display: block;
    }

   .footer .container{
      flex-direction: row;
      justify-content: space-between;

   }

   .footer__logo{
    flex: 2 0;
    align-self: flex-start;
   }

   .footer__nav {
    flex: 2 0;
   }



}
 
/* <--------------------------- Shoes -------------------------------> */

  .shoes .container{
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(1rem);
    box-shadow: var(--white-box-shadow);
    padding: 6rem 4rem ;
    border-radius: 3rem;
  }

  .shoes__cont{
   
  }

  .shoe__img{
    filter: drop-shadow(0 0.25rem 0.5rem #000000);
  }

  .shoe__subtitle{
     color: white;
  }

  .shoe__info{
     color: white;
     text-align: center;
     font-style: italic;
  }

  .forward-arrow{
     color: white;
     
  }

  .back-arrow{
    color: white;
    
  }


  .shoes-nav-btn__cont a i{
    font-size: 4rem;
  }
 

  /* products media queries */

/* ipad */

  @media only screen and (min-width: 45em){

    .shoes .container{
     
    }

    .shoe__img{
      width: 40rem;
      padding-bottom: 5rem;
    }

    .shoe__subtitle{
      font-size: var(--xlg);
    }

    .shoes-nav-btn__cont{
      /* padding-top: 5rem; */
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: space-around;
    }
  }
  
  /* <------------------------------------------------------------> */
/* <----------------------------- Store Page -------------------------------> */
  /* <------------------------------------------------------------> */


    #store-main{
      background: linear-gradient(to left, var(--shade-four), var(--shade-three));
    }

    #store{
      height: auto;
    }


  .store-content{
    
  }

  .store-content__h2{
      color: white;
      grid-column: 1/ -1;
      font-size: var(--xlg);
  }

  .store-container{
      display: grid;
      gap: 3rem;
      padding-top: var(--mobile-pd-top-cont);
      padding-bottom: 10rem;
      padding-left: 0;
      padding-right: 0;
      grid-template-columns: 1fr;
      width: 80%;
  }

  .no-result__header{
    color: white;
    grid-column: 1/ -1;
  }

  .sneaker-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

    background-color: transparent; 
    backdrop-filter: blur(1rem);
    box-shadow: var(--white-box-shadow); 
    background: rgba(0, 0, 0, 0.3);
    

    border-radius: 1.5rem; 
    padding: 2rem;
    color: white;
    text-decoration: none;
  }

  .sneaker-card__size{

    width: 5rem;

    background-color: transparent; 
    padding: 0.3rem;
    border: 0.125rem solid white;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    margin-left: 0.5rem;
  }

  .sneaker-card__content{ 
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
  }

  .sneaker-card__img{
    /* filter: drop-shadow(0 0.01rem 0.2rem white); */
  }

  .sneaker-card__btn{
     margin-top: 3.5rem;
     font-size: var(--lg);
    
  }

  .sneaker-card:hover,
  .sneaker-card:focus{
     color: var(--secondary-color);
     transition: 0.1s ease-in;
     box-shadow: var(--white-box-shadow-hover);
     cursor: pointer;
  }

  .sneaker-card:hover .sneaker-card__btn{
    /* background: linear-gradient(to right, var(--primary-color2), var(--primary-color)); */
    background: var(--primary-color2);
   
  }

  @media only screen and (min-width: 60em){
     .store-container{
        grid-template-columns: 1fr 1fr ;
        padding-top: var(--pc-pd-top-cont);
      }
      .sneaker-card{
        padding: 4rem;
      }

  }


  @media only screen and (min-width: 90em){
    .store-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
  
    }

    /* <----- store navbar-------------------------------> */

     .store-navbar{
      background: linear-gradient(to left, var(--shade-four), var(--shade-three));
      /* background-color: black; */
      /* opacity: .8;  */
     }


 /* <----- Selected Container -------------------------------> */

   .store-selected-container{
    padding-top: var(--mobile-pd-top-cont);
    
   }

   .selected-sneaker-div{
      color: white;
   
   }


  .selected-sneaker-back__btn{
     display: inline-flex;
     justify-content: flex-start;
     align-items: center;
     color: white;
     cursor: pointer;
     text-decoration: none;
     font-size: var(--lg);
  }

 .sneaker-card-cart__btn{
    margin-top: 1rem;
    padding: var(--mobile-btn);
    font-size: var(--sm);
    
    
  }

  .sneaker-card-buy__btn{
    margin-top: 1rem;
    padding: var(--mobile-btn);
    font-size: var(--sm);
    background: linear-gradient(to left, var(--primary-color2), var(--primary-color));
    box-shadow: var(--black-box-shadow);
  }
  

  #back-icon{
    margin-right: 0.5rem ;
    font-size: var(--xl);
  }

  .selected-sneaker-back__btn:is(:hover, :focus-visible){
    color: var(--secondary-color);
    transition: 0.1s ease-in;
  }

  /* selected sneaker media queries */

  @media only screen and (min-width: 60em){
    .store-selected-container{
       padding-top: var(--pc-pd-top-cont);
       padding-bottom: 10rem;
     }

     .sneaker-card-cart__btn, .sneaker-card-buy__btn {
      font-size: var(--lg);
      padding: var(--pc-btn);
      margin-top: 1.5rem;
     }
  

 }

/* <----- Nav Cart -------------------------------> */


  .nav-cart{
    position: fixed;
    right: 0;
    height: 100%;
    width: 75%;
    z-index: 10000;

    transform: translateX(100%); 
    transition: transform 0.5s ease-in;
    background-color: black;
    color: white;
    opacity: 0.95;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cart-item__cont{
    padding: 0;
    margin: 0;
    overflow-y: scroll;
  }

  .nav-cart__item{
    border-bottom: 0.125rem solid white;
    margin-bottom: 2rem;
    
  }

  .nav-cart__h2{
      margin-bottom: 3rem;
  }
    

  .nav-cart-active{
    transform: translateX(0%);
  }

  .nav-cart-exit__btn{
    color: white;
    display: flex;
    align-self: flex-start;
    transition: 0.3s ease-in forwards ;
  }

  #exit-icon{
    font-size: var(--xxlg);
  }
  
  .nav-cart-exit__btn:hover,
  .nav-cart-exit__btn:focus{
    cursor: pointer ;
    transform: scale(1.1);
  }


  .remove-item-btn{
     color: var(--darkest-color);
     transition: 0.3s ease-in forwards ;
     display: inline-flex;
     margin-left: 0.3rem;
  }

  .remove-item-btn:hover,
  .remove-item-btn:focus{
    cursor: pointer;
    transform: scale(1.1);
  }

  .quantity-input{
    width: 20%;
    color: white;
    padding: 0.3rem;
    background-color: transparent;
    border: 0.125rem solid white;
  }

  .quant-remove__cont{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  /* Pricing total */

  .total-cont{
     padding: 3rem 0rem;
  }

  .goToCartBtn{
     text-decoration: none;
  }

  .removeBtn{
    
  }


  .purchaseBtn:hover,
  .purchaseBtn:focus,
  .removeBtn:hover,
  .removeBtn:focus{
    cursor: pointer;
  }

  /* nav cart media queries */

  @media only screen and (min-width: 45em){
    .quantity-input{
      width: 30%;
    }

    .nav-cart__item{
    width: auto;
      
    }

  }

  @media only screen and (min-width: 60em){

    .nav-cart{
      width: 20%;
    }

    .nav-cart__item{
      margin-bottom: 4rem;
      
    }

    .quantity-input{
      width: 50%;
    }

    .nav-cart__item{
      width: auto;
      
    }

 }



  /* <----- Store-FOOTER -------------------------------> */

.store-footer{
  /* background: linear-gradient(to top, var(--shade-four), var(--shade-one)); */
  color: white;
  border-bottom: 0.5rem solid var(--darkest-color);

}


.store-footer .container{
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  gap: 1.5rem;    

}

.store-footer .footer__logo{
  display: flex;
  gap: 0.75rem;
  align-items: center;
  color: white;
  text-decoration: none;

}

.span__title{
    text-transform: uppercase;
} 

.footer__logo:hover,
.footer__logo:focus{
  
  transform: scale(1.1);
  transition: transform 0.3s;
}



.footer__icon{
  width: 3em;
}

.footer__nav{
  border-top: none;
}

.footer__title{
  font-size: 1.525rem;
  font-weight: bold;
  line-height: 1.3;
}

.footer__list{
  padding-left: 1.5rem;
  margin: 0;
  border-left: 0.125rem solid var(--secondary-color);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

}

.footer__link{
  color: white;
  text-decoration: none;

}

.footer__link:hover,
.footer__link:focus{
  color: var(--secondary-color);
}

.footer-small-links{
  display: flex;
  flex-direction: column;
  
}

.footer__copyright{
  padding-bottom: 1rem;
}

.footer__copyright2{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.small-media-logo {
    padding: 0.5rem;
    width: 3rem;
}

.small-media-logo:hover,
.small-media-logo:focus{
  
  transform: scale(1.1);
  transition: transform 0.3s;
}

/* alt bkgd for contact page */

.alt-fade-bkgd {
    background: linear-gradient(to bottom, var(--shade-three), var(--shade-one) )
}




/* footer media queries */


@media only screen and (min-width: 45em){

   .footer .container{
      flex-direction: row;
      justify-content: space-between;

   }

   .footer__logo{
    flex: 2 0;
    align-self: flex-start;
   }

   .footer__nav {
    flex: 2 0;
   }



}


  /* <------------------------------------------------------------> */
/* <----------------------------- Cart Page -------------------------------> */
  /* <------------------------------------------------------------> */
  
 /*--- Cart Main ---*/


    #cart-main{
      background: linear-gradient(to left, var(--shade-four), var(--shade-three));
     
    }

    #cart{
      height: auto;
    }

    .cart-container{

      padding-top: var(--mobile-pd-top-cont);
      padding: 2rem;
   
    }

    .cart-container .container{
      display: grid;
      grid-template-rows: 1fr ;
      grid-template-columns: 1fr ;
      gap: 3rem;
      
      padding: 4rem;
      border-radius: 1.5rem; 
      background-color: transparent; 
      backdrop-filter: blur(1rem);
      box-shadow: var(--white-box-shadow); 
      background: rgba(0, 0, 0, 0.3);
    }

    .cart-margin__div{

    }

    .cart-content__h2{
      color: white;
      grid-column: 1/ -1;
    }

    .main-cart-subtotal{
      color: white;
    }

    .purchase-cont{
      color: white;
    }

    .main-cart-total__span{
       
    }

    .empty-cart-h3{
      color: white;
    }


/* cart media queries  */
  
  @media only screen and (min-width: 45em){

      .cart-container{
         
      }

      .cart-container .container{
         
          grid-template-rows: 1fr ;
          grid-template-columns: 1fr 1fr 1fr;
          
        }

        .cart-margin__div{
          margin-top: 7rem;
        }
    
        .cart-content__h2{
          font-size: var(--xlg);
          
        }

    }